$yellow: #ffbd12;
$green: #00c6ae;
$orange: #f95a2c;
$blue: #1947e5;
$grey: #9e9e9e;
$dark: #18191f;
$pink: #ff89bb;

/** COLOR VARIABLES WITH NAMES */
$colors: ("yellow" $yellow, "blue" $blue, "green" $green, "orange" $orange, "pink" $pink);
