.btn {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 48px;
  padding-left: 16px;
  padding-right: 16px;

  &-solid {
    background: theme("colors.dark.100");
    color: theme("colors.dark.950");
    border-radius: 16px;
    font-weight: 800;
    border: 2px solid theme("colors.dark.950");
  }

  /** BUTTON SIZES  */
  &-sm {
    font-size: 16px;
    line-height: 32px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px theme("colors.dark.950");
  }
  &-md {
    font-size: 18px;
    line-height: 42px;
    border-radius: 14px;
    box-shadow: 0px 3px 0px theme("colors.dark.950");
  }
  &-lg {
    font-size: 21px;
    line-height: 54px;
    border-radius: 16px;
    box-shadow: 0px 4px 0px theme("colors.dark.950");
  }
  /** BUTTON SIZES  */

  &--icon {
    display: flex;
    align-items: center;
    gap: 8px;
    &-after {
      flex-direction: row-reverse;
    }
    &::before {
      font-size: 20px;
    }
  }

  @each $color in $colors {
    &--#{$color} {
      background: theme("colors.#{$color}.500");
      color: theme("colors.#{$color}.950");
      border-radius: 16px;
      &:hover {
        box-shadow: none;
        background-color: theme("colors.#{$color}.600");
      }
    }
  }
}
