.icon {
  display: inline-flex;
  &--sm {
    font-size: 16px;
  }
  &--md {
    font-size: 24px;
  }
  &--lg {
    font-size: 36px;
  }
  &--rounded {
    padding: 2%;
    border-radius: 50%;
  }
}
/** BUTTON COLORS  */
@each $color in $colors {
  .icon--#{$color} {
    color: theme("colors.#{$color}.950");
  }
  .icon--bg-#{$color} {
    background-color: theme("colors.#{$color}.300");
  }
}
