.app-checkbox {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: theme("spacing.2");
  cursor: pointer;
  input {
    &[type="checkbox"] {
      /* Hide the default checkbox */
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      border: none;
      background-color: transparent;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      position: relative;
      cursor: pointer;
      &::before {
        /* Checkbox border */
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid theme("colors.dark.300");
        border-radius: 4px;
      }
      &:checked {
        &:before {
          /* Checked checkbox styles */
          background-color: theme("colors.blue.500");
          border-color: theme("colors.blue.500");
        }
      }
      &:disabled:before {
        /* Disabled checkbox styles */
        background-color: #f1f1f1;
        border-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }

  &:hover input::before {
    border-color: theme("colors.blue.500");
  }
}
