$yellow: #FFBD12;
$green: #00C6AE;
$orange: #F95A2C;
$blue: #1947E5;
$grey: #9E9E9E;
$dark: #18191F;
$pink: #FF89BB;
/** COLOR VARIABLES WITH NAMES */
$colors: yellow $yellow, blue $blue, green $green, orange $orange, pink $pink;