@import "./reset";
@import "./variables";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    font-family: 'Montserrat', sans-serif;
  }
}

$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("./../fonts/icons.ttf") format("truetype"),
    url("./../fonts/icons.woff") format("woff"),
    url("./../fonts/icons.woff2") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "arrow-down": "\f101",
    "chevron-left": "\f102",
    "home": "\f103",
    "user": "\f104",
);

.icon-arrow-down:before {
    content: map-get($icons-map, "arrow-down");
}
.icon-chevron-left:before {
    content: map-get($icons-map, "chevron-left");
}
.icon-home:before {
    content: map-get($icons-map, "home");
}
.icon-user:before {
    content: map-get($icons-map, "user");
}



@import "./../fonts/icons.scss";
